{
  "root": true,
  "extends": [
    "plugin:vue/essential",
    "@vue/prettier"
  ],
  "rules": {
    "linebreak-style": 0,
    "prettier/prettier": "off",
    "vue/multi-word-component-names": "off",
    "vue/no-use-v-if-with-v-for": "off",
    "*":"off"
  },
  "env": {
    "node": true,
    "amd": true
  }
}
